<a href="https://colab.research.google.com/github/azmisaud/DataScience/blob/main/LearningDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statistics

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Mean

In [ ]:
ar=np.array([1,2,3,10,11,12,90,91,92,93])

Calculating by **Formula**

In [ ]:
np.sum(ar)/len(ar)

Calculating by Numpy Function

In [ ]:
np.mean(ar)

Calculating the mean of a real world data.

In [62]:
dataset=pd.read_csv("/content/drive/MyDrive/DataSets/titanic.csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
dataset.head(3)

In [ ]:
dataset["Age"]

In [ ]:
dataset["Age"].mean()

OR

In [ ]:
mn=np.mean(dataset["Age"])

Where the mean lies? Plotting the data

In [ ]:
sns.histplot(x="Age",data=dataset,bins=[i for i in range(0,81,10)])
plt.plot([mn for i in range(0,600)],[i for i in range(0,600)],c="red")
plt.show()

## Median

Checking if there is any null value in the age.

In [ ]:
dataset.isnull().sum()

If there is null data in age, it should be filled.

In [ ]:
np.median(dataset["Age"])

OR

In [ ]:
md=dataset["Age"].median()

Plotting the data with median

In [ ]:
sns.histplot(x="Age",data=dataset,bins=[i for i in range(0,81,10)])
plt.plot([md for i in range(0,600)],[i for i in range(0,600)],c="red")
plt.show()

In DataCleaning, Mean, Median and Mode are used.

## Mode

Mode of Age

In [ ]:
moa=dataset["Age"].mode()[0]

Value counts of each data.

In [ ]:
dataset["Age"].value_counts()

Mode of Fare

In [ ]:
mof=dataset["Fare"].mode()[0]

In [ ]:
dataset["Fare"].value_counts()

Plotting the data of Age with Mode

In [ ]:
sns.histplot(x="Age",data=dataset,bins=[i for i in range(0,81,10)])
plt.plot([moa for i in range(0,600)],[i for i in range(0,600)],c="red")
plt.show()

Plotting the data of Fare with Mode

In [ ]:
sns.histplot(x="Fare",data=dataset,bins=[i for i in range(0,601,50)])
plt.plot([mof for i in range(0,1100)],[i for i in range(0,1100)],c="red")
plt.show()

Plotting the data of age with mean, median and mode

In [ ]:
sns.histplot(x="Age",data=dataset,bins=[i for i in range(0,81,10)])
plt.plot([moa for i in range(0,600)],[i for i in range(0,600)], c="red",label="mode")
plt.plot([md for i in range(0,600)],[i for i in range(0,600)],c="green",label="median")
plt.plot([mn for i in range(0,600)],[i for i in range(0,600)],c="black",label="mean")
plt.legend()
plt.show()

## Range

Finding the minimum age.

In [ ]:
min_r=dataset["Age"].min()
print(min_r)

Finding the maximum age.

In [ ]:
max_r=dataset["Age"].max()
print(max_r)

Range=Maximum-Minimum

In [ ]:
range=max_r-min_r
print(range)

## Mean Absolute Deviation (MAD)

In [ ]:
ar1=np.array([75,65,73,68,72,67])
ar2=np.array([90,47,43,96,93,51])

Scatter plot of these above arrays.

In [ ]:
number=np.array([1,2,3,4,5,6])
plt.scatter(ar1,number)
plt.scatter(ar2,number,color="red")
plt.show()

In [ ]:
mn1=np.mean(ar1)
mn2=np.mean(ar2)

Calculating MAD

In [ ]:
np.sum(np.abs(ar1-mn1))/len(ar1)
np.sum(np.abs(ar2-mn2))/len(ar2)

## Standard Deviation & Variance

In [ ]:
np.std(ar1)

In [ ]:
np.std(ar2) #Standard Deviation

In [ ]:
np.var(ar1)

In [ ]:
np.var(ar2) #Variance

Real world data-SD & Variance

In [ ]:
np.std(dataset["Age"])

OR

In [ ]:
dataset["Age"].std()

In [ ]:
np.var(dataset["Age"])

OR

In [ ]:
dataset["Age"].var()

## Describing Data

In [ ]:
dataset.describe()

## Percentiles and Quartiles

Q1 - 25 Percentile,
Q2 (Median) - 50 Percentile,
Q3 - 75 Percentile

In [ ]:
np.percentile(dataset["Age"],25)

In [ ]:
np.percentile(dataset["Age"],50)

Box Plot of Age

In [ ]:
sns.boxplot(x="Age",data=dataset)
plt.show()

Box Plot of Fare

In [ ]:
sns.boxplot(x="Fare",data=dataset)
plt.show()

## Skewness

Checking skewness using Frequency Distribution(Histogram)

In [ ]:
sns.histplot(x="Age",data=dataset)
plt.show()

Checking skewness using inbuilt methods.

In [ ]:
dataset["Age"].skew()

Normal distribution

In [ ]:
data = np.random.normal(0,100,100)
print(data)

In [ ]:
dfn=pd.DataFrame({"x":data})
dfn["x"].skew()

In [ ]:
#Plotting
sns.histplot(x="x",data=dfn)
plt.show()

## Covariance and Correlation

In [ ]:
dataset2=pd.read_csv("tips.csv")

In [ ]:
dataset2.head(3)

Checking if there is any null value.

In [ ]:
dataset2.isnull().sum()

In [ ]:
dataset2.info()

In [ ]:
data_corr=dataset2.select_dtypes(["float64","int64"]).corr()

In [ ]:
data_cov=dataset2.select_dtypes(["float64","int64"]).cov()

In [ ]:
sns.heatmap(data_corr)
plt.show()

In [ ]:
sns.heatmap(data_cov)
plt.show()

## Central Limit Theorem

In [ ]:
del range
data_random=[np.random.randint(10,100) for i in range(10000)]

In [ ]:
data_table=pd.DataFrame({"x":data_random})
print(data_table)

In [ ]:
sns.kdeplot(x="x",data=data_table)
plt.show()

In [ ]:
sample_mean=[]
for i in range(100):
  sample_data=[]
  for data in range(500):
    sample_data.append(np.random.choice(data_random))
  sample_mean.append(np.mean(sample_data))

In [ ]:
sample_m=pd.DataFrame({"x":sample_mean})

In [ ]:
sns.kdeplot(x="x",data=sample_m)
plt.show()