<a href="https://colab.research.google.com/github/azmisaud/DataScience/blob/main/LearningDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statistics

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Mean

In [19]:
ar=np.array([1,2,3,10,11,12,90,91,92,93])

Calculating by **Formula**

In [ ]:
np.sum(ar)/len(ar)

Calculating by Numpy Function

In [ ]:
np.mean(ar)

Calculating the mean of a real world data.

In [22]:
dataset=pd.read_csv("/content/train_and_test2.csv")

In [ ]:
dataset.head(3)

In [ ]:
dataset["Age"]

In [ ]:
dataset["Age"].mean()

OR

In [31]:
mn=np.mean(dataset["Age"])

Where the mean lies? Plotting the data

In [ ]:
sns.histplot(x="Age",data=dataset,bins=[i for i in range(0,81,10)])
plt.plot([mn for i in range(0,600)],[i for i in range(0,600)],c="red")
plt.show()

## Median

Checking if there is any null value in the age.

In [ ]:
dataset.isnull().sum()

If there is null data in age, it should be filled.

In [ ]:
np.median(dataset["Age"])

OR

In [39]:
md=dataset["Age"].median()

Plotting the data with median

In [ ]:
sns.histplot(x="Age",data=dataset,bins=[i for i in range(0,81,10)])
plt.plot([md for i in range(0,600)],[i for i in range(0,600)],c="red")
plt.show()

In DataCleaning, Mean, Median and Mode are used.

## Mode

Mode of Age

In [50]:
moa=dataset["Age"].mode()[0]

Value counts of each data.

In [ ]:
dataset["Age"].value_counts()

Mode of Fare

In [55]:
mof=dataset["Fare"].mode()[0]

In [ ]:
dataset["Fare"].value_counts()

Plotting the data of Age with Mode

In [ ]:
sns.histplot(x="Age",data=dataset,bins=[i for i in range(0,81,10)])
plt.plot([moa for i in range(0,600)],[i for i in range(0,600)],c="red")
plt.show()

Plotting the data of Fare with Mode

In [ ]:
sns.histplot(x="Fare",data=dataset,bins=[i for i in range(0,601,50)])
plt.plot([mof for i in range(0,1100)],[i for i in range(0,1100)],c="red")
plt.show()

Plotting the data of age with mean, median and mode

In [ ]:
sns.histplot(x="Age",data=dataset,bins=[i for i in range(0,81,10)])
plt.plot([moa for i in range(0,600)],[i for i in range(0,600)], c="red",label="mode")
plt.plot([md for i in range(0,600)],[i for i in range(0,600)],c="green",label="median")
plt.plot([mn for i in range(0,600)],[i for i in range(0,600)],c="black",label="mean")
plt.legend()
plt.show()

## Range

Finding the minimum age.

In [61]:
min_r=dataset["Age"].min()
print(min_r)

0.17

Finding the maximum age.

In [62]:
max_r=dataset["Age"].max()
print(max_r)

80.0

Range=Maximum-Minimum

In [63]:
range=max_r-min_r
print(range)

79.83

## Mean Absolute Deviation (MAD)

In [64]:
ar1=np.array([75,65,73,68,72,67])
ar2=np.array([90,47,43,96,93,51])

Scatter plot of these above arrays.

In [ ]:
number=np.array([1,2,3,4,5,6])
plt.scatter(ar1,number)
plt.scatter(ar2,number,color="red")
plt.show()

In [71]:
mn1=np.mean(ar1)
mn2=np.mean(ar2)

Calculating MAD

In [77]:
np.sum(np.abs(ar1-mn1))/len(ar1)
np.sum(np.abs(ar2-mn2))/len(ar2)

23.0

## Standard Deviation & Variance